@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --azul: #2458a4;
  --azul-1: #4077ba;
  --azul-2: #0957c3;
  --gris: #dbdbd9;
  --gris-1: #f2efef;
  --negro: #181818;
  --blanco  : #f8f8f8;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  line-height: 1.5;
}

h1 {
  font-size: 1.5em;
  font-weight: 500;
}

.error-message {
  margin: 5px 0;
  color: red
}